/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;

  /* CSS Variables */
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* Display & Box Model */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  /* Display & Box Model */
  width: 100%;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 1.5rem;
}

.searchForm-row {
  /* Display & Box Model */
  margin-top: .5rem;

  /* Other */
  background-color: hsla(0, 0%, 90%, 1.0);
  border-radius: 5px;
}

.searchForm-row:first-child {
  /* Display & Box Model */
  margin-top: 1.5rem;
}

.searchForm-row:nth-child(4) {
  display: flex;
}

.searchForm label {
  /* Display & Box Model */
  display: none;
}

fieldset {
  padding: 1rem 0;
  border: none;
}

.searchForm fieldset > label {
  display: initial;
}

input[type="text"] {
  /* Display & Box Model */
  width: 100%;
  padding: 1rem;
  border: none;

  /* Other */
  font-weight: bold;
  font-size: 1.6rem;
  background-color: initial;
}

input[type="text"]:focus {
  outline: none;
}

input[name="destination"],
input[name="origin"] {
  background: url('assets/map-marker-alt-solid.svg') no-repeat 1% 5px;
  background-size: 25px 25px;
  padding-left: 4.5rem;
}

input::placeholder {
  color: black;
}

select {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
}

/********************
|| Utilities
*********************/
.noBullets {
  /* Other */
  list-style-type: none;
}

.troubleshooting {
  /* Other */
  outline: 1px solid red;
}