/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;

  /* CSS Variables */
  --text-color: hsla(0, 0%, 33%, 0.931);
  --background-gray: hsla(0, 0%, 90%, 1.0);
  --black: hsla(0, 0%, 17%, 1.0);
  --button-background: hsla(208, 100%, 40%, 1.0);
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* Display & Box Model */
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Other */
  background-image: url('assets/sky-blue-wide.jpeg');
  background-size: cover;
}

h1 {
  /* Display & Box Model */
  margin-bottom: 5rem;

  /* Other */
  color: white;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}

button, input, select, textarea {
  /* Other */
  font-family: inherit;
  font-size: 100%;
}

.searchForm {
  /* Display & Box Model */
  width: 100%;
  min-width: 300px;
  max-width: 990px;
  margin: 0 1rem;
  padding: 0 .75rem 10rem;
  font-size: 1.5rem;
  border-radius: 5px;

  /* Other */
  background: white;
  box-shadow: 0 5px 5px 0 hsla(0, 0%, 0%, 0.04);
}

.searchForm-row {
  /* Display & Box Model */
  margin-top: .5rem;

  /* Other */
  border-radius: 5px;
}

.searchForm-row:first-child {
  /* Display & Box Model */
  margin-top: 1.5rem;
}

.searchForm-row:nth-child(4) {
  display: flex;
}

.searchForm-row:last-of-type {
  /* Display & Box Model */
  margin-top: 2rem;
}

.searchForm label {
  /* Display & Box Model */
  display: none;
}

fieldset {
  /* Display & Box Model */
  padding: 1rem 0;
  border: none;

  /* Other */
  background-color: white;
}

.searchForm fieldset > label {
  /* Display & Box Model */
  display: initial;

  /* Other */
  color: var(--text-color);
}

input[type="text"] {
  /* Display & Box Model */
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;

  /* Other */
  font-weight: bold;
  font-size: 1.6rem;
}

input[name="destination"],
input[name="origin"] {
  /* Display & Box Model */
  padding-left: 4.5rem;

  /* Other */
  background: url('assets/map-marker-alt-solid.svg') no-repeat 1% 5px;
  background-size: 25px 25px;
}

input[type="text"]:focus {
  /* Other */
  outline: none;
}

input[type="radio"],
select {
  /* Display & Box Model */
  -webkit-appearance: none;
  appearance: none;
}

input[type="radio"] {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 50px;
  vertical-align: -3px;
  margin-right: 1rem;
}

input[type="radio"]:checked::before {
  /* Positioning */
  position: absolute;
  left: 2px;
  top: 2px;

  /* Display & Box Model  */
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50px;

  /* Other */
  background-color: black;
  transform: scale(.75, .75);
}

input[type="radio"]:last-of-type {
  /* Display & Box Model */
  margin-left: 1.5rem;
}

input[name="departDate"],
input[name="returnDate"] {
  /* Display & Box Model */
  padding-left: 4.5rem;

  /* Other */
  background: url('assets/calendar-minus-regular.svg') no-repeat 1.5% 5px;
  background-size: 25px 25px;
}

input[name="departDate"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[name="returnDate"] {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: -4px 0 5px -5px hsla(0, 0%, 0%, 0.115);
}

.dates {
  background-color: var(--background-gray);
}

input[name="departDate"]::placeholder,
input[name="returnDate"]::placeholder {
  color: var(--text-color);
}

input::placeholder {
  /* Other */
  color: var(--black);
}

select {
  /* Display & Box Model */
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;

  /* Other */
  color: var(--text-color);
  font-weight: bold;
  outline: none;
}

input[type="text"], select {
  background-color: var(--background-gray);
}

.select-wrapper {
  /* Positioning */
  position: relative;
}

.select-wrapper::after {
  /* Positioning */
  position: absolute;
  top: 1rem;
  right: 0;

  /* Display & Box Model */
  content: '▼';
  display: block;
  width: 2rem;
  height: 2rem;

  /* Other */
  color: var(--black);
  pointer-events: none;
}

button {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  width: 100%;
  padding: 1.45rem;
  border-radius: 5px;
  border: none;

  /* Other */
  background-color: var(--button-background);
  color: white;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 8px 0 hsla(0, 0%, 0%, 0.04);
  letter-spacing: 0.08rem;
}

button:hover {
  top: 1px;

  /* Other */
  box-shadow: none;
}

/********************
|| Utilities
*********************/
.noBullets {
  /* Other */
  list-style-type: none;
}

.troubleshooting {
  /* Other */
  outline: 1px solid red;
}

/********************
|| Media Queries
*********************/

@media only screen and (min-width: 625px) {
  .searchForm {
    padding: 2rem 3rem 10rem;
  }

  label[for="searchForm-origin"],
  label[for="searchForm-destination"] {
    /* Display & Box Model */
    display: block;
    margin-bottom: .5rem;

    /* Other */
    color: var(--text-color);
    font-size: 1.3rem;
  }

  .searchForm-row {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 753px) {
  .searchForm-row:first-of-type,
  .searchForm-row:nth-child(2) {
    display: inline-block;
    width: calc((100% - 20px) / 2);
  }

  .searchForm-row:first-of-type {
    margin-right: 1.5rem;
  }
}